{% extends 'base.html' %}

{% block css %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'whole_list.css' %}">
{% endblock %}
{% block content %}
    <div class="board">
        <p>전 체</p>
        <p>
            {% for post in posts %}

                <a href="{% url 'detail' post.pk %}">{{ post.title }}</a>
            
            {% endfor %}
        </p>
        <a id ='_1' href="{% url 'new' %}">글 작성하기</a>
        <a id='_2' href="{% url 'home' %}">홈으로</a>
    </div>
{% endblock %}