<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Information</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href= "{% static 'Information.css' %}" />
</head>
<body>
    <div class="all">
        <p class="title"><strong>김태균의 글, 왜 css가 연동이 안 될까..</strong></p>
        <div id="content">
            <p>
                안녕하십니까 체육교육과 22학번 김태균입니다. 요즘 다시 열심히 살아서 살짝 똑똑해지고 있는 것 같다.
                다만, 금융위기가 올 것 같다며 투자를 안하고 있는 김태균은 요즘 뉴스도 제대로 잘 챙겨보지 않는다... 
                그래서 과제도 할 겸 앞으로 경제가 어떻게 될지 생각해보려고 한다. 사실 지금 파마를 하고 있는데 경로 설정을 더 하다간 멀미가 날 것 같아서 그냥 글이나 쓰려고 한다. 
                음 일단 고용, 물가 지수도 어떤 추센지도 모르는 최악의 상황! 일단은 내가 아는 것부터.. 
                그래도 신문은 가끔 봐서 요즘 큰 은행 몇 개가 파산했다는 것은 안다. CS와 CBV였던 걸로 기억한다. 일단 우리나라는 경제 현재 너무 안 좋다. 
                금리를 올리면 경제 침체 오고 금리 안 올리면 자본 빠져나가서 경기 침체 온다. 그럼 어떻게 해야 하나.. 일단 나는 현금을 예금으로 돌리다가
                금융주 위주로 줍줍을 시전하려고 했다. 그런데! 요즘 좀 나아지고 있는 건가? 이슈가 없네.. 사실 개발 과제 하느라 어제 4시에 잤다. 오늘 아침까지 올리려 했지만!
                정보 페이지지만 일단 힘들다.. 오늘 어깨 운동하려고 했는데 아침 팀플이라.. 그럼 낼 mt 너무 설렌다. 그거 전에 하체 해야 겠다. 
                낼은 스쿼트 80kg*10 4set, 레그 익스텐션 지옥 루트, 비복근 강화 훈련 해야 겠다. 여기까지만 써야겠다!
            </p>
        </div>
        <div class="main">
            <a href="/main">메인 화면으로 돌아가기</a>
        </div>
    </div>
</body>
</html>