<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>사진</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'photo.css' %}" />
</head>
    <div class = 'board'>
        <div class="baby">
            <p>어릴 때</p>
            <img src="C:\Users\tgkim\OneDrive\바탕 화면\NEXT 자료\NEXT_HW\session6_assignment\myproject\myapp\image\book.jpg"/>
        </div>
        <div class="books">
            <ul>
                <p><strong>추천하는 책 list</strong></p>
                <li>1분 경영 - CEO라면 꼭 읽어야 할 책</li>
                <li>하드씽 - 조직이 비대해지면 관리자로써 꼭 읽어야 할 책</li>
                <li>부의 대이동 - 삶을 살아가면서 필요한 기본 경제 지식</li>
                <li>부의 대이동 - 삶을 살아가면서 필요한 기본 경제 지식</li>
                <li>언어의 온도 - 가끔 잃어버린 감정을 느끼며</li>
                <li>스타트업 바이블 - 스타트업을 하는 사람이라면 꼭 봐야할 책</li>
                <li>역행자 - 자기계발 저서</li>
                <li>아이디어 불패의 법칙 - 프로토타이핑, 고객의 중요성</li><br>
                <a href="https://fifth-reaction-c77.notion.site/book-f32538c3eaab47069666ae5b2e296294">책을 한다미로 표현하자면</a>
                <img src ="" />
            </ul>
        </div>
        <div class="now">
           <p>지금</p>
           <img src=""/>
        </div>
        <div class="main">
            <a href="/main">메인 화면으로 돌아가기</a>
        </div>
    </div>
</body>
</html>