<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'base.css' %}">
    {% block css %}
    {% endblock css %}
    <title>Document</title>
</head>
<body>
    <div class="container">
        {% block content %}

        {% endblock content %}
    </div>
    <div class="footer">
            <div class="bottom">
                <p>김태균의 블로그다</p>
                <a href='https://next-koreauniv.notion.site/d2c2ec952a034918a044212698cc2bce'>김태균의 소개 페이지</a>
                <p></p>
            </div>    
    </div>
</body>
</html>